<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="methods" thread-count="2">
  <test thread-count="5" name="Test">
	  <parameter name="name" value="lion"></parameter>
	<groups>
		<run>
			<include name="lion"></include>
		</run>
	</groups>  
	  
    <classes>
      <class name="testngframework.testng"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
